<div class="container-fluid text-center">
  <div class="row">
    <div class="page-header">
      <img src="..\media\calvin_logo.gif" class="img-responsive center-block">
      <p> &copy; Bill Watterson </p>
      <h2>Welcome to Princeton Courses!</h2>
    </div>
  </div>
  <div class="well welcome-well" style="margin:0 100px;">
    <i class="welcome-icon fa fa-search"></i>
    <h4>Ask AI</h4>
    <p>Ask our AI for personalized recommendations, information, and reviews on specific courses, distribution requirements, or your schedule. Click on Ask AI.</p>
  </div>
</div>